
#post h2 {
  border-top: 2px solid #343434;
  margin-top: 20px;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

/* terminal */

#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}

#post pre.terminal code {
  background-color: #333;
}

.hud {
  text-align: center;
  width: 90%;
  margin: 10px auto 10px auto;
  
  color: white;
  background-color: #858585;
  opacity: 0.8;
  font-size: 1.5em;
  
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	border-radius: 0.8em; 
}

table.ingredients {
  border-collapse: collapse;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  width: 80%;
}

.post_date {
  color: #4e4e4e;
  padding-left: 20px;
}

.box {
  padding: 10px;
  border: 2px solid #dddddd;
}
