a {
  color: #333;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: #3d3d3d;
}

a img {
  border: 0;
}

.posts a {
  text-decoration: none;
}

.posts a:hover {
  text-decoration: underline;
}

.posts {
  white-space: nowrap;
}

#menu a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 750px) {
  .post-date {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .posts {
    white-space: inherit;
  }
  .posts .columns {
    margin-bottom: 10px;
  }
}

.heading-anchor {
  color: #ccc;
  font-weight: 300;
  padding-right: 0;
  margin-left: -30px;
  display: inline-block;
  width: 30px;
  opacity: 0;
  transition: 0.2s opacity;
}

.heading-anchor-container:hover .heading-anchor,
.heading-anchor:hover {
  text-decoration: none;
  opacity: 1;
}

#header {
  /*  text-transform: lowercase;*/
  text-align: left;
  padding: 1.5em;
  /*text-align: center;*/
}

#header h1 {
  font-weight: 600;
  display: inline;
  /*letter-spacing: -0.03em;*/
}

#header h1 a {
  text-decoration: none;
  color: #3d3d3d;
}

#menu {
  border-top: 3px solid #3d3d3d;
}

#menu ul {
  list-style: none;
  margin: 0;
  text-align: right;
  padding-right: 1em;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  font-size: 1.3em;
  padding: 0 0.5em;
  line-height: 2.5em;
  font-weight: normal;
  text-decoration: none;
}

#menu .posts-link.posts,
#menu .vis-link.vis,
#menu .about-link.about,
#menu .projects-link.projects {
  text-decoration: underline;
}

#footer {
  margin-bottom: 2em;
  color: #3e423a;
  font-size: 0.9em;
  padding: 0.5em;
  text-align: right;
}

#footer p {
  padding-right: 1.5em;
}

.post-header {
  margin-bottom: 0;
}

.list-unstyled {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.list-unstyled li {
  padding-left: 0;
}

.list-inline {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.list-inline li {
  display: inline-block;
  padding-left: 0;
  margin-right: 1rem;
}

.post-info {
  color: #888;
  font-size: 1.7rem;
}

.post-info-list li::before {
  content: "•";
  color: #ccc;
  margin-right: 1rem;
}

.post-info-list li:first-child::before {
  display: none;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.hud {
  text-align: center;
  width: 90%;
  margin: 10px auto 10px auto;
  color: white;
  background-color: #858585;
  opacity: 0.8;
  font-size: 1.5em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  border-radius: 0.8em;
}

.main-body {
  font-size: 1.9rem;
}

.main-body li {
  margin-bottom: 0.5rem;
}

.main-body h2 {
  padding-top: 20px;
}

.post {
  font-size: 1.8rem;
  line-height: 1.7;
  max-width: 860px;
}

.post p,
.post li {
  font-family: Georgia, serif;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

.twitter-tweet {
  margin: auto;
}

.post img {
  max-width: 100%;
  height: auto;
}

blockquote {
  color: #777;
}

.project-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding-top: 5px;
}

.project-box a.project {
  text-decoration: none;
}

.project-box a.project img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
