a {
  color: #6e6e6e;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: #3d3d3d;
}

a img {
  border: 0;
}

/*.banner {
  max-width: 800px;
}*/


#header {
/*  text-transform: lowercase;*/
  text-align: left;
  padding: 1.5em;
  /*text-align: center;*/
}

#header h1 {
  /*font-family: 'Droid Serif', arial, serif;*/
  font-weight:600;
  display: inline;
  /*letter-spacing: -0.03em;*/
}

#header h1 a {
  text-decoration: none;
  color: #3d3d3d;
}

#menu {
  border-top: 3px solid #3d3d3d;
}

#menu ul {
  list-style: none;
  margin: 0;
  text-align: right;
  padding-right: 1.0em;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  font-size: 1.3em;
  padding: 0 0.5em;
  line-height: 2.5em;
  font-weight: normal;
  text-decoration: none;
}

#footer {
  margin-bottom: 2em;
  color: #3E423A;
  font-size: 0.9em;
  padding: 0.5em;
  text-align: right;
}

#footer p {
  padding-right: 1.5em;
}

.hud {
  text-align: center;
  width: 90%;
  margin: 10px auto 10px auto;

  color: white;
  background-color: #858585;
  opacity: 0.8;
  font-size: 1.5em;

  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  border-radius: 0.8em;
}

.main-body {
  font-size: 1.9rem;
}

.main-body li {
  margin-bottom: 0.5rem;
}

.post{
  font-size: 1.8rem;
  line-height: 1.7;
}
