a {
	color: #6e6e6e;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
	color: #3d3d3d;
}

a img {
	border: 0;
}

body, input, textarea {
  font-family: "Helvetica Neue","Helvetica",arial,sans-serif;
  font-weight: 300;
}

body {
  color: #444;
}

p, li {
  font-size: 1.23em;
  letter-spacing: 0.06em;
  line-height: 1.5em;
}

#wrapper {
	width: 850px;
	margin: 2em auto 0;
	padding: 0;
	background-color: white;
	/*-moz-border-radius: 1.5em;*/
	/*-webkit-border-radius: 1.5em;*/
	/*border-radius: 1.5em;*/
}

.container {
	width: 850px;
}

.instagram {
  padding-top: 30px;
  padding-left: 60px;
}

.instagram .instagram-image {
  float: left;
  padding-right: 20px;
  padding-bottom: 5px;
}

#header {
/*	text-transform: lowercase;*/
	text-align: left;
	padding: 1.5em;
	text-align: center;
}

#header h1 {
  font-family: 'Droid Serif', arial, serif;
  font-weight:700;
	font-size: 5.0em;
	display: inline;
	letter-spacing: -0.03em;
}

#header h1 a {
  text-decoration: none;
	color: #3d3d3d;
}

#menu {
	border-top: 3px solid #3d3d3d;
}

#menu ul {
	list-style: none;
	margin: 0;
	text-align: right;
	padding-right: 1.0em;
}

#menu ul li {
	display: inline;
}

#menu ul li a {
	font-size: 1.3em;
	padding: 0 0.5em;
	line-height: 2.5em;
	font-weight: normal;
	text-decoration: none;
}

#content {
	padding: 2em;
}

a.title {
	color: #8C0101;
	font-size: 1.6em;
	text-decoration: none;
}

a.title:hover {
	text-decoration: underline;
}

#footer {
  margin-bottom: 2em;
  color: #3E423A;
  font-size: 0.9em;
  padding: 0.5em;
  text-align: right;
}

#footer p {
	padding-right: 1.5em;
}

.posts {
	list-style: none;
}

a.post_title {
	color: #8C0101;
	font-size: 1.8em;
	text-decoration: none;
  line-height: 40px;
}

a.post_title:hover {
	text-decoration: underline;
}

.section {
  border-bottom: 3px solid #3E423A;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

pre code {
  border: none;
}

.thumbnail {
display: block;
padding: 4px;
line-height: 1;
border: 1px solid #DDD;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
border-image: initial;
margin-bottom: 10px;
}

.thumbnail > img {
display: block;
max-width: 100%;
margin-left: auto;
margin-right: auto;
}

.left {
  float: left;
  margin-right: 20px;
}

.center {
  text-align: center;
  margin: auto;
}
