---
layout: default
title: Home
---
<h2>Visualization</h2>
<ul class="posts">
{% for post in site.categories.vis %}
<li><a class="post_title" href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Bioinformatics</h2>
<ul class="posts">
{% for post in site.categories.bioinfo %}
<li><a class="post_title" href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h2>Other</h2>
<ul class="posts">
{% for post in site.categories.other %}
<li><a class="post_title" href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

