---
layout: default
title: Home
id: posts
twitter: true
twitter_type: summary_large_image
description: Visualizations by Jim Vallandingham.
img: http://vallandingham.me/images/vis/vis_card.png
---

<div class="main-body">
  <h2>Writing</h2>
  {% for post in site.categories.tutorial %}
  <div class="row posts">
    <div class="ten columns">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </div>
    <div class="two columns post-date">
      {{ post.date | date: "%Y-%m-%d"}}
    </div>
  </div>
  {% endfor %}

  <h2>Talks</h2>
  {% for post in site.categories.talk %}
  <div class="row posts">
    <div class="ten columns"><a href="{{ post.url }}">{{ post.title }}</a></div>
  </div>
  {% endfor %}
</div>
