a {
	color: #6e6e6e;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #3d3d3d;
}

a img { 
	border: 0; 
}

body {
	background-color: #ADD9CE;
}

#wrapper {
	width: 50em;
	margin: 2em auto 0;
	padding: 0;
	background: #fff;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;	
}

.container {
	width: 50em;
}

#header {
	text-transform: lowercase;
	text-align: left;	
	padding: 1.5em;
	text-align: center;
}

#header h1 {
	font-size: 6em;
	display: inline;
	letter-spacing: -0.03em;
	color: #3d3d3d;
	font-weight: normal;
}

#menu {
	border-top: 3px solid #3d3d3d;
}

#menu ul {
	list-style: none;
	margin: 0;
	text-align: right;
	padding-right: 1.0em;
}

#menu ul li {
	display: inline;
}

#menu ul li a {	
	font-size: 1.3em;
	padding: 0 0.5em;
	line-height: 2.5em;
	font-weight: normal;
}

#content {
	padding: 2em;	
}

.project {
	/*background: #ffffff;*/
  	/*-moz-border-radius: 1em;
	border-radius: 1em;
	background: #F7FBFF;*/
}

.project a.title {
	color: #8C0101;
	font-size: 1.4em;
	text-decoration: none;
}

#footer {
  margin-bottom: 2em;
  color: #3E423A;
  font-size: 0.9em;
  padding: 0.5em;  
  text-align: right;
}

#footer p {
	padding-right: 1.5em;
}

h1.resume {
	text-transform: uppercase;
	font-size: 2.4em;	
}

h2.resume-time {
	float: right;
}

h2.resume {
	margin-bottom:0;
	margin-left: 20px;
}

h3.resume {
	margin-left: 35px;
	margin-bottom: 10px;
}

ul.resume {
	margin-left: 15px;
}

ul.resume li {
	font-size: 1.5em;
}
