<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - Jim Vallandingham</title>
  {% if page.twitter %}
  <meta name="twitter:card" content="{{ page.twitter_type }}">
  <meta name="twitter:site" content="@vlandham">
  <meta name="twitter:creator" content="@vlandham">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image:src" content="{{ page.img }}">
  {% else %}
  <meta name="twitter:site" content="@vlandham">
  <meta name="twitter:creator" content="@vlandham">
  <meta name="twitter:title" content="{{ page.title }}">
  {% endif %}

  {% if page.twitter_type %}
  <meta name="twitter:card" content="{{ page.twitter_type }}">
  {% endif %}

  <meta name="twitter:site" content="@vlandham">
  <meta name="twitter:creator" content="@vlandham">
  <meta name="twitter:title" content="{{ page.title }}">

  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:title" content="{{ page.title }}" />

  {% if page.ogtype %}
  <meta property="og:type" content="{{ page.ogtype }}" />
  {% endif %}

  {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
  <meta property="og:description" content="{{ page.description }}" />
  {% endif %}

  {% if page.img %}
  <meta property="og:image" content="{{ page.img | absolute_path }}" />
  <meta name="twitter:image:src" content="{{ page.img | absolute_path }}">
  {% endif %}

  <script src="//d3js.org/d3.v4.min.js"></script>

  {% if page.jquery %}
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  {% endif %}


  <link href="http://feeds.feedburner.com/jim-vallandingham" rel="alternate" title="Jim Vallandingham" type="application/atom+xml" />

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'/>

  <link rel="stylesheet" href="/css/normalize.css" type="text/css">
  <link rel="stylesheet" href="/css/skeleton.css" type="text/css">

  <link rel="stylesheet" href="/css/github.css" type="text/css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">

  {% if page.css %}
  <link rel="stylesheet" href="/css/pages/{{ page.css }}">
  {% endif %}


  </head>
  <body>
    <div id='wrapper'>
        <div class="container">
          <div class="row">
      <div id='header'>
        <h1><a href="/">Jim Vallandingham</a></h1>
      </div>
      <div id='menu'>
        <ul>
          <li><a class="posts-link {{ page.id }}" href='/'>Posts</a></li>
          <li><a class="vis-link {{page.id }}" href='/vis'>Visualizations</a></li>
          <li><a href='/experiments'>Experiments</a></li>
          <li><a class="about-link {{ page.id }}" href='/about.html'>About</a></li>
        </ul>
      </div>
      <div id='content'>
            {{ content }}
          </div>
        </div>
      </div>
    <div id='footer'>
    	<p>Jim Vallandingham<br/>
      <a href="mailto:&#118;&#108;&#097;&#110;&#100;&#104;&#097;&#109;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#118;&#108;&#097;&#110;&#100;&#104;&#097;&#109;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a><br/>
      <a href="http://twitter.com/#!/vlandham">vlandham</a><br/>
      <a href="http://feeds.feedburner.com/jim-vallandingham" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/jim-vallandingham" rel="alternate" type="application/rss+xml">subscribe</a>
      </p>
      <!-- http://www.wbwip.com/wbw/emailencoder.html -->
    </div>
  </div>
  <script src="/js/main.js"></script>
    {% if page.js %}
    <script src="/js/pages/{{ page.js }}" type="text/javascript" charset="utf-8"></script>
    {% endif %}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-17355070-1', 'auto');
    ga('send', 'pageview');

    </script>
  </body>
</html>
