<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title> Jim Vallandingham - vlandham</title>
		<!-- Framework CSS -->
		<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
		<!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

		<link rel="stylesheet" href="/stylesheets/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
		
        <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen, projection">

    <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-17355070-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1>Jim Vallandingham</h1>
      </div>
      <div id='menu'>
        <ul>
          <li><a href='/'>Projects</a></li>
          <li><a href='/blog.html'>Blog</a></li>
          <li><a href='/about.html'>About</a></li>
        </ul>
      </div>
      <div id='content'>
        {{ content }}
        <div class='clearfix'></div>
      </div>
    <div id='footer'>
    	<p>Jim Vallandingham<br/>
    	    vlandham<br/>
    	<a href="mailto:&#118;&#108;&#097;&#110;&#100;&#104;&#097;&#109;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#118;&#108;&#097;&#110;&#100;&#104;&#097;&#109;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></p>
        <!-- http://www.wbwip.com/wbw/emailencoder.html -->
    </div>
    </div>
  </body>
</html>

