<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} - Jim Vallandingham</title>
    {% if page.twitter %}
    <meta name="twitter:card" content="{{ page.twitter_type }}" />
    <meta name="twitter:site" content="@vlandham" />
    <meta name="twitter:creator" content="@vlandham" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="twitter:image:src" content="{{ page.img }}" />
    {% else %}
    <meta name="twitter:site" content="@vlandham" />
    <meta name="twitter:creator" content="@vlandham" />
    <meta name="twitter:title" content="{{ page.title }}" />
    {% endif %} {% if page.twitter_type %}
    <meta name="twitter:card" content="{{ page.twitter_type }}" />
    {% endif %}

    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <meta property="og:title" content="{{ page.title }}" />

    {% if page.ogtype %}
    <meta property="og:type" content="{{ page.ogtype }}" />
    {% endif %} {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    {% endif %} {% if page.img %}
    <meta property="og:image" content="{{ page.img | absolute_path }}" />
    <meta name="twitter:image:src" content="{{ page.img | absolute_path }}" />
    {% endif %}

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Karla:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <script src="//d3js.org/d3.v4.min.js"></script>

    {% if page.jquery %}
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    {% endif %} {% if page.zoom %}
    <script src="https://unpkg.com/medium-zoom@0/dist/medium-zoom.min.js"></script>
    {% endif %} {% if page.jslibs %} {% for lib in page.jslibs %}
    <script src="{{ lib }}"></script>
    {% endfor %} {% endif %}

    <link
      href="http://feeds.feedburner.com/jim-vallandingham"
      rel="alternate"
      title="Jim Vallandingham"
      type="application/atom+xml"
    />

    <link rel="stylesheet" href="/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/css/skeleton.css" type="text/css" />

    <link rel="stylesheet" href="/css/github.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />

    {% if page.css %}
    <link rel="stylesheet" href="/css/pages/{{ page.css }}" />
    {% endif %}
  </head>
  <body>
    <div id="wrapper">
      <div class="container">
        <div class="row">
          <div id="header">
            <h1><a href="/">Jim Vallandingham</a></h1>
          </div>
          <div id="menu">
            <ul>
              <li><a class="posts-link {{ page.id }}" href="/">Posts</a></li>
              <li>
                <a class="vis-link {{ page.id }}" href="/vis">Visualizations</a>
              </li>
              <li>
                <a class="projects-link {{ page.id }}" href="/projects"
                  >Projects</a
                >
              </li>
              <li>
                <a class="about-link {{ page.id }}" href="/about.html">About</a>
              </li>
            </ul>
          </div>
          <div id="content">{{ content }}</div>
        </div>
      </div>
      <div id="footer">
        <p>
          Jim Vallandingham<br />
          <a
            href="mailto:&#118;&#108;&#097;&#110;&#100;&#104;&#097;&#109;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;"
            >&#118;&#108;&#097;&#110;&#100;&#104;&#097;&#109;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a
          ><br />
          <a href="http://twitter.com/vlandham">@vlandham</a>
        </p>
        <!-- http://www.wbwip.com/wbw/emailencoder.html -->
      </div>
    </div>
    <script src="/js/main.js"></script>
    {% if page.js %}
    <script
      src="/js/pages/{{ page.js }}"
      type="text/javascript"
      charset="utf-8"
    ></script>
    {% endif %}
    <script>
      {% if page.zoom %}
        mediumZoom(".zoom")
      {% endif %}
    </script>
  </body>
</html>
