<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} - Jim Vallandingham</title>

  <link href="http://feeds.feedburner.com/jim-vallandingham" rel="alternate" title="Jim Vallandingham" type="application/atom+xml" /> 

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection"/>
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"/>
  <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection"/>
  <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->

  <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection"/>
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection"/>
  {% include styles.html %}

  {% if page.css %}
  <link rel="stylesheet" href="/css/pages/{{ page.css }}">
  {% endif %}
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'/>

  <script src="/js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17355070-1']);
    _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>

  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1><a href="/">Jim Vallandingham</a></h1>
      </div>
      <div id='menu'>
        <ul>
          <li><a href='/'>Posts</a></li>
          <li><a href='/vis'>Visualizations</a></li>
          <li><a href='/projects.html'>Projects</a></li>
          <li><a href='/about.html'>About</a></li>
        </ul>
      </div>
      <div id='content'>
        <h1>{{ page.title }}</h1>
        <p class="post_date">Created: {{ page.date | date: "%d %B %Y" }}</p>
        <div id="post">
          {{ content }}
        </div>

        {% include comments.html %}
        <div class='clearfix'></div>
      </div>
    <div id='footer'>
    	<p>Jim Vallandingham<br/>
      <a href="mailto:&#118;&#108;&#097;&#110;&#100;&#104;&#097;&#109;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#118;&#108;&#097;&#110;&#100;&#104;&#097;&#109;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a><br/>
      <a href="http://twitter.com/#!/vlandham">vlandham</a><br/>
      <a href="http://feeds.feedburner.com/jim-vallandingham" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/jim-vallandingham" rel="alternate" type="application/rss+xml">subscribe</a>
      </p>
      <!-- http://www.wbwip.com/wbw/emailencoder.html -->
    </div>
    </div>
  </body>
</html>
