---
layout: default
---

<h1 class="post-header">{{ page.title }}</h1>
<div class="post-info">
  <ul class="list-inline post-info-list">
  <li class="post-date">
    {% assign d = page.date | date: "%-d"  %}
    {{ page.date | date: "%B" }}
    {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st,
      {% when '2' or '22' %}{{ d }}nd,
      {% when '3' or '23' %}{{ d }}rd,
      {% else %}{{ d }}th,
      {% endcase %}
    {{ page.date | date: "%Y" }}
  </li>
  {% if page.demo %}
  <li class="post-demo"><a target="_blank" href="{{ page.demo }}">Demo</a></li>
  {% endif %}
  {% if page.source %}
  <li class="post-github"><a target="_blank" href="{{ page.source }}">Source</a></li>
  {% endif %}
</ul>
</div>
<div class="post">
	{{ content }}
</div>

{% include comments.html %}
<div class='clearfix'></div>
